{% extends "base_generic.html" %}

{% block content %}
  <h1>Location: {{ location.name }}</h1>


  <div style="margin-left:20px;margin-top:20px">
    <h4>All Plants in this Room</h4>

    {% for purchasedPlant in location.plantinstance_set.all %}
      <hr />
      <p
        class="{% if purchasedPlant.status == 'w' %}text-success{% elif purchasedPlant.status == 'n' %}text-danger{% else %}text-warning{% endif %}">
        {{ purchasedPlant.get_status_display }}
      </p>
      {% if purchasedPlant.status != 'w' %}
        <p><strong>Due to be watered:</strong> {{ purchasedPlant.due_watered }}</p>
      {% endif %}
      <p><strong>Name:</strong> {{ purchasedPlant.nickname }} ({{ purchasedPlant.plant.scientific_name }})</p>
    {% endfor %}
  </div>
{% endblock %}