{% extends "base_generic.html" %}

{% block content %}
    <h1>My Plants</h1>
    <ul>
      <li><a href="{% url 'plant-instance-create' %}">Add Plants to My Garden</a></li>
      <li><a href="{% url 'my-due-watered' %}">All Dry Plants</a></li>
    </ul>
    {% if plantinstance_list %}
    <ul>

      {% for plantinst in plantinstance_list %}
      <li class="{% if not plantinst.is_overdue_watered %}text-success{% elif plantinst.is_overdue_watered %}text-danger{% endif %}">
        <a href="{% url 'plant-instance-detail' plantinst.pk %}">{{ plantinst.nickname }}</a> ({{ plantinst.due_watered }}) 
        {% if plantinst.is_overdue_watered %}- <a href="{% url 'renew-due-watered-date' plantinst.id %}">Water</a>{% endif %}
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>There are no plants.</p>
    {% endif %}
{% endblock %}