{% extends "base_generic.html" %}

{% block content %}
  <h1>Plant Type: {{ plant.scientific_name }}</h1>
  <p><strong>Owner</strong> {{ plant.user }}</p>
  <p><strong>Common Name:</strong> {{ plant.common_name }}</p>
  <p><strong>Description:</strong> {{ plant.description }}</p>
  <p><strong>Care Tips:</strong> {{ plant.care_tips }}</p>
  <p><strong>Water:</strong> {{ plant.get_water_display }}</p>
  <p><strong>Sun:</strong> {{ plant.get_sun_display }}</p>

  {% if user.is_staff %} 
  <div style="margin-left:20px;margin-top:20px">
    <h4>List of All Plants Owned of This Type</h4>

    {% for purchasedPlant in plant.plantinstance_set.all %}
      <hr />
      <p><strong>Nickname:</strong> {{ purchasedPlant.nickname }} ({{ purchasedPlant.plant }})</p>
      <p><strong>Owner:</strong> {{ purchasedPlant.customer }}</p>
      <p><strong>Location:</strong> <a href="{{ purchasedPlant.location.get_absolute_url }}">{{ purchasedPlant.location }}</a></p>
      <p
        class="{% if purchasedPlant.status == 'w' %}text-success{% elif purchasedPlant.status == 'n' %}text-danger{% else %}text-warning{% endif %}">
        {{ purchasedPlant.get_status_display }}
      </p>
      {% if purchasedPlant.status != 'w' %}
        <p><strong>Due to be watered:</strong> {{ purchasedPlant.due_watered }}</p>
      {% endif %}
    {% endfor %}
  </div>
  {% endif %}
{% endblock %}

{% block sidebar %} 
  {{ block.super }} 
  {% if perms.nursery.change_plant or perms.nursery.delete_plant %} 
  <hr> 
    <ul class="sidebar-nav"> 
      {% if user.is_staff %} 
        <li><a href="{% url 'staff-plant-update' plant.id %}">STAFF Update plant</a></li>
      {% elif perms.nursery.change_plant %} 
        <li><a href="{% url 'plant-update' plant.id %}">Update plant</a></li> 
      {% endif %}
       
      {% if not plant.plantinstance_set.all and perms.nursery.delete_plant %} 
        <li><a href="{% url 'plant-delete' plant.id %}">Delete plant</a></li>
      {% else %}
        <li>Cannot delete -- plant instances of this kind exist</li> 
      {% endif %} 
    </ul> 
  {% endif %} 
{% endblock %}