{% extends "base_generic.html" %}

{% block content %}
    <h1>My Due Watered Plants</h1>

    {% if plantinstance_list %}
    <ul>
      {% for plantinst in plantinstance_list %}
        <li>
          <a href="{% url 'plant-instance-detail' plantinst.pk %}">
            {{ plantinst.nickname }}
          </a> 
          <span class="{% if plantinst.is_overdue_watered %}text-danger{% endif %}">
            ({{ plantinst.due_watered }})
          </span> 
          {% if plantinst.is_overdue_watered %}
          <ul>
            <li><a href="{% url 'renew-due-watered-date' plantinst.id %}?next={{ request.path }}">Water Plant</a></li>
            <li>
              <form id="snooze-form" method="post" action="{% url 'snooze' plantinst.id %}?next={{ request.path }}">
              {% csrf_token %}
              <button type="submit" class="btn btn-link">Snooze</button>
              </form>
            </li>
          </ul>  
          {% else %}
            - <span class="text-success">watered</span>
          {% endif %}
        </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>There are no Plants due watered.</p>
    {% endif %}
{% endblock %}