{% extends "base_generic.html" %}

{% block content %}
  <h1>{{ plantinstance.nickname }} (<a href="{% url 'plant-detail' plantinstance.plant.pk %}">{{ plantinstance.plant }}</a>)</h1>

  <p><strong>Owner:</strong> {{ plantinstance.customer }}</p>
  <p><strong>Common Name:</strong> {{ plantinstance.plant.common_name }}</p>
  <p><strong>location:</strong> {{ plantinstance.location }}</p>
  <p><strong>Purchased:</strong> {{ plantinstance.purchased }}</p>
  <p>
    <strong>Due Watered:</strong> 
    <span class="{% if not plantinstance.is_overdue_watered %}text-success{% elif plantinstance.is_overdue_watered %}text-danger{% endif %}">
      {{ plantinstance.due_watered }}
    </span>
  </p>
  <p>
    <strong>Watered Status:</strong> 
    <span class="{% if not plantinstance.is_not_watered %}text-success{% elif plantinstance.is_not_watered %}text-danger{% endif %}">
      {{ plantinstance.get_status_display }}
    </span>
  </p>  
{% endblock %}

{% block sidebar %} 
  {{ block.super }} 
  {% if perms.nursery.change_plantinstance or perms.nursery.delete_plantinstance%} 
  <hr> 
    <ul class="sidebar-nav">
      {% if user.is_staff %}
        <li><a href="{% url 'staff-plant-instance-update' plantinstance.id %}">STAFF Update plant instance</a></li>  
      {% elif perms.nursery.change_plantinstance %} 
        <li><a href="{% url 'plant-instance-update' plantinstance.id %}">Update plant instance</a></li> 
      {% endif %}
      {% if perms.nursery.delete_plantinstance %} 
        <li><a href="{% url 'plant-instance-delete' plantinstance.id %}">Delete plant instance</a></li> 
      {% endif %}
    </ul> 
  {% endif %} 
{% endblock %}