{% extends "base_generic.html" %}

{% block content %}
  <h1><strong>Water:</strong> {{plant_instance.nickname}} ({{ plant_instance.plant.scientific_name }})</h1>
  {% if user.is_staff %}
    <p><strong>Owner:</strong> {{ plant_instance.customer }}</p>
  {% endif %}
  
  <h4>
    <strong>Due watered date:</strong> 
    <span {% if not plant_instance.is_overdue_watered %}class='text-success'{% elif plant_instance.is_overdue_watered %}class="text-danger"{% endif %}>
      {{ plant_instance.due_watered }}
    </span>
  </h4>

  <form action="" method="post">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Submit">
  </form>
{% endblock %}