<!doctype html>
<html lang="en">
  <head>
    {% block title %}
      <title>Petrichor</title>
    {% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous">
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body style="background-color: rgb(100, 47, 31); color: beige;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2">
          {% block sidebar %}
            <ul class="sidebar-nav" style="background-color: brown;">
              {% if user.is_authenticated %}
              <li>User: {{ user.get_username }}</li>
              <hr>
              <li>
                  <form id="logout-form" method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-link">Logout</button>
                  </form>
                </li>
              {% else %}
                <li><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
              {% endif %}
              <li><a href="{% url 'index' %}">Home</a></li>
              {% if user.is_authenticated %}
                <hr>
                <li>Plant Instance</li>
                <li>
                  <ul>
                    <li><a href="{% url 'my-plants' %}">My Plants</a></li>
                    <li><a href="{% url 'my-due-watered' %}">Dry Plants</a></li>
                    <li><a href="{% url 'plant-instance-create' %}">Add Plant Instance</a></li>
                  </ul>
                </li>
                <li>Plant Template</li>
                <li>
                  <ul>
                    <li><a href="{% url 'plants' %}">Plant templates</a></li>
                    <li><a href="{% url 'plant-create' %}">Create Plant Template</a></li>
                  </ul>
                </li>
              {% endif %}
              {% if user.is_staff %} 
              <hr> 
              <ul class="sidebar-nav">
                <li>Staff</li> 
                <li>
                  <ul>
                    <li><a href="{% url 'plants' %}">All Plant Templates</a></li>
                    <li><a href="{% url 'plantinstances' %}">All Plant Instances</a></li>
                    <li><a href="{% url 'locations' %}">All Locations</a></li>
                  </ul>
                </li>  
              </ul> 
              {% endif %}
              <hr>
            </ul>
          {% endblock %}
        </div>
        <div class="col-sm-10 ">{% block content %}{% endblock %}
          {% block pagination %}
          {% if is_paginated %}
              <div class="pagination">
                  <span class="page-links">
                      {% if page_obj.has_previous %}
                          <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                      {% endif %}
                      <span class="page-current">
                          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                      </span>
                      {% if page_obj.has_next %}
                          <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                      {% endif %}
                  </span>
              </div>
          {% endif %}
        {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>