{% extends "base_generic.html" %}

{% block content %}
  <h1>Petrichor</h1>
  <h4><em>/ pet-ri-chor / </em>: the smell of rain after a long period of warm, dry weather.</h4>
  <hr>
  {% if user.is_staff %}
    <h2>Dynamic content</h2>
    <p>The nursery has the following record counts:</p>
    <ul>
      <li><strong>Number of Users:</strong> {{ num_users }}</li>
      <li><strong>Type of Plants:</strong> {{ num_plants }}</li>
      <li><strong>Total Count:</strong> {{ num_instances }}</li>
      <li><strong>Locations:</strong> {{ num_locations }}</li>
    </ul>
    <p>You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.</p>
  {% endif %}
{% endblock %}